*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D9D9D9;
}
.headfeedback{
    height: 115px;
    width: 100%;
    background-color: #D9D9D9;
}
.feedback{
    background-color: #FFFFFF;
    max-width: 1360px;
    width: 100%;
    height: fit-content;
    min-height: 500px;
    margin: auto;
}

.feedback h1{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: #FF1E56;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}


.feedback_seach{
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    display: grid;
    place-content: center;
    margin-bottom: 50px;
}


.feedback_seach .seach {
    position: relative;

}

.feedback_seach .seach input{
    width: 600px;
    height: 55px;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 0px 80px 0px 20px;
    font-size: 24px;
}

.feedback_seach .seach div{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 0;
    transform: translate(-30%,-50%);
}

.feedback_seach .seach div img{
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.feedback_create{
    margin: 20px 70px;
}

.feedback_create h2{
    font-size: 32px;
    padding: 10px 0px;
}

.feedback_create button{
    width: 100px;
    height: 40px;
    background-color: #FF1E56;
    border: none;
    padding: 5px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}


.feedback .table{
    display: flex;
    place-content: center;
    width: 100%;
}

.feedback .table table{
    width: 95%;
    background-color: #ffffff;
    border-collapse: collapse;
    max-width: 1440px;
    margin: 0px 20px 20px 20px;
}


.feedback .table table td, 
.feedback .table table th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}



.feedback .table table td img{
    width: 20px;
    height: 20px;

}

.feedback .table table th{
    font-size: 25px;
}



.feedback .table .action img{
    width: 30px;
    height: 30px;
    margin: 0px 20px;
    cursor: pointer;
}

table td:nth-child(7) div{
    min-width: 170px;
    display: flex;
    place-content: center;
}



.feeback_listpage{
    display: flex;
    justify-content: right;
    height: fit-content;
    margin: 10px;
}

.listpage_bottom{
    background-color: #d6d6d6;
}

.feeback_listpage .page{
    display: flex;
    place-content: center;
    width: 100px;

}

.feeback_listpage .page img{
    /* padding: 5px; */
    margin: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.feeback_listpage .page span{
    line-height: 30px;
    font-weight: bold;
}

.feeback_listpage .listpage{
    display: flex;
    place-content: center;

}

.feeback_listpage .listpage select{
    width: 115px;
    height: 30px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3d3d3d;
}

