:root {
  --height-card: 400px;
}
.news {
  background-color: #fff4f4;
  padding: 112px 56px 56px 56px;
}

.nav {
  font-size: 2.4rem;
  color: #ff1e56;
  font-weight: 700;
}

.newsHeadline {
  text-transform: capitalize;
  font-size: 3rem;
  padding: 16px 0 8px 0;
  background-image: linear-gradient(to top, #ff1e56 0%, #feb47b 20%, #ff1e56 70%);
  background-clip: text; /* Áp dụng màu nền gradient lên chữ */
  -webkit-background-clip: text; /* Hỗ trợ cho trình duyệt WebKit */
  color: transparent; /* Làm chữ trong suốt để hiện gradient */
}
.list {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 4px 0;
}

.cardAction::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #000000;
  position: absolute;
}

.actions {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.views {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 900;
}


