@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 62.5%;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
}

button {
  outline: none;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  margin: 8px;
  padding: -8px;
}

.col-l-1 {
  width: calc((100% / 12) * 1);
}

.col-l-2 {
  width: calc((100% / 12) * 2);
}

.col-l-3 {
  width: calc((100% / 12) * 3);
}

.col-l-4 {
  width: calc((100% / 12) * 4);
}

.col-l-5 {
  width: calc((100% / 12) * 5);
}

.col-l-6 {
  width: calc((100% / 12) * 6);
}

.col-l-7 {
  width: calc((100% / 12) * 7);
}

.col-l-8 {
  width: calc((100% / 12) * 8);
}

.col-l-9 {
  width: calc((100% / 12) * 9);
}

.col-l-10 {
  width: calc((100% / 12) * 10);
}

.col-l-11 {
  width: calc((100% / 12) * 11);
}

.col-l-12 {
  width: calc((100% / 12) * 12);
}
 span{
  /* margin: 0 !important; */
 }
 .border-gradient {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

/* Tạo hiệu ứng cho border với ::before */
.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #ffac41, #e1234e); /* Gradient */
  height: 1px; /* Chiều cao của border */
  width: 0; /* Bắt đầu với độ rộng 0 */
  transition: width 0.3s ease; /* Mượt mà khi thay đổi độ rộng */
}

/* Khi hover: độ rộng của border sẽ là 100% */
.border-gradient:hover::before {
  width: 100%; /* Đặt độ rộng thành 100% khi hover */
}

