.navItem {
  width: 100%;
  height: 328px;
  background-color: #000000;
  color: #ffac41;
  font-size: 1.6rem;
  padding: 72px 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-evenly;
}

.items li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.items li:hover {
  color: #ff1e56;
}

.items li:hover i {
  filter: sepia(1) saturate(10000%) hue-rotate(330deg);
}

.items span {
  margin-left: 8px;
}

.items .title {
  width: max-content;
  color: #ff1e56;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 16px;
  padding-bottom: 8px;

  position: relative;
}

.items .title::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #ffac41;

  position: absolute;
  bottom: 0;
  left: 0;
}

.itemsSocial {
  display: flex;
  justify-content: center;
  gap: 16px;
}
